<head>
    {{>websiteHeader}}
    {{{body}}}
    <style>
        .cursive {
            font-size: 26px !important;
        }
    </style>
</head>
<section class="hero-section" id="aboutus">
    <div class="container">
        <div class="heros">
            <div class="row">
                <div class="col-lg-12">
                    <div class="hero-details text-center">
                        <h3 class="cursive text-center">About Us</h3>
                        <h1 class="text-white text-center d-flex justify-content-center mb-4">Following Jesus
                            Wherever <br>
                            We Are</h1>
                        <ul class="ps-0 text-white d-flex flex-wrap gap-2 justify-content-center align-items-center"
                            style="list-style: none;">
                            <li class="text-yeloish">Home</li>
                            <li>&gt;</li>
                            <li>About</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="aboutprayer" class="py-100">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-5">
                <div class="aboutprayerdetails">
                    <h3 class="cursive ">Welcome To Great Prayers</h3>
                    <h2 class="mb-0 text-color">The Prayers that Heal will help you find your way to God and love
                    </h2>
                </div>
            </div>
            <div class="col-lg-7">
                <div>
                    <p class="mb-0 text-color">Suspendisse fermentum, dolor in rutrum dictum, augue dui egestas
                        nunc, id
                        egestas augue quam
                        eu orci. Nulla facilisi. Sed sed nibh vulputate, tristique risus id, ornare turpis. Mauris
                        dapibus at tellus a porttitor.</p>
                </div>
            </div>
        </div>
        <div class="row pt-50">
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-7">
                <div class="aboutprayercard">
                    <div class="card">
                        <div class="px-3">
                            <div class="icon-about">
                                <img src="../../assets/images/icons/biblebook.svg" alt="" class="img-fluid">
                            </div>
                            <h1 class="about-heading">Follow the Bible</h1>
                            <p class="mb-0">Phasellus eu rhoncus sapien. Aliquam posuere gravida commodo.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-7">
                <div class="aboutprayercard">
                    <div class="card">
                        <div class="px-3">
                            <div class="icon-about">
                                <img src="../../assets/images/icons/meeting.svg" alt="" class="img-fluid">
                            </div>
                            <h1 class="about-heading">Prayer Circle</h1>
                            <p class="mb-0">Vivamus malesuada iaculis leo, id feugiat sapien mattis eget.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-7">
                <div class="aboutprayercard">
                    <div class="card">
                        <div class="px-3">
                            <div class="icon-about">
                                <img src="../../assets/images/icons/red.svg" alt="" class="img-fluid">
                            </div>
                            <h1 class="about-heading">Public Square</h1>
                            <p class="mb-0">Curabitur ultricies enim vitae venenatis accumsan cras condimentum.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-7">
                <div class="aboutprayercard">
                    <div class="card">
                        <div class="px-3">
                            <div class="icon-about">
                                <img src="../../assets/images/icons/dove.svg" alt="" class="img-fluid">
                            </div>
                            <h1 class="about-heading">Love and Care</h1>
                            <p class="mb-0">Vestibulum velit, eget posuere tellus tempor sit amet habitant morbi.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="story-about" class="py-100" style="background: url(../../assets/images/story.svg);
    background-size: cover;
    background-position: 0% 0%;
    background-repeat: no-repeat;
    position: relative;">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-6">
                <div class="story-about-details">
                    <h3 class="cursive ">About our Story</h3>
                    <h1 class="fw-bold mb-4">Welcome To Great
                        Players</h1>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                        been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a
                        galley of type and scrambled it to make a type specimen book. Read more <br>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        <br><br>
                        Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an
                        unknown printer took a galley of type and scrambled it to make a type specimen book.
                    </p>
                </div>
            </div>
            <div class="col-lg-6">
                <!-- <div class="story-image py-0">
                        <img src="../../assets/images/story.svg" alt="" class="img-fluid">
                    </div> -->
            </div>
        </div>
    </div>
</section>
<section id="heal" class="py-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 mb-7">
                <div class="heal-image">
                    <img src="../../assets/images/image1.png" alt="">
                </div>
            </div>
            <div class="col-lg-3 mb-7">
                <div class="heal-image">
                    <img src="../../assets/images/image2.png" alt="">
                </div>
            </div>
            <div class="col-lg-3 mb-7">
                <div class="heal-image">
                    <img src="../../assets/images/image3.png" alt="">
                </div>
            </div>
            <div class="col-lg-3 mb-7">
                <div class="heal-image">
                    <img src="../../assets/images/image4.png" alt="">
                </div>
            </div>
        </div>
        <p class="mb-0 text-center text-color">Welcome to <b>Prayers that Heal</b>, your spiritual sanctuary and
            online
            resource for
            connecting
            with the divine. We are dedicated to providing a platform where individuals from all walks of life can
            find solace, guidance, and inspiration through prayer.</p>
    </div>
</section>

{{>websiteFooter}} {{{body}}}