<head>
    {{>websiteHeader}}
    {{{body}}}
</head>

<section class="hero-section" id="aboutus">
    <div class="container">
        <div class="heros">
            <div class="row">
                <div class="col-lg-12">
                    <div class="hero-details text-center">
                        <h3 class="cursive text-center">All Prayers</h3>
                        <ul class="ps-0 text-white d-flex flex-wrap gap-2 justify-content-center align-items-center"
                            style="list-style: none;">
                            <li class="text-yeloish">Home</li>
                            <li>></li>
                            <li>Prayers</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="listing" class="p-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12 mb-7">
                <a href="/website/prayerMiracle">
                    <div class="myprayer position-relative">
                        <img src="../../assets/images/prayerbg-1.png" alt="">
                        <div class="overlay"></div>
                        <div class="allprayer-details">
                            <h3 class="mb-0">Prayer for Miracle</h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 mb-7">
                <a href="/website/prayerMiracle">
                    <div class="myprayer position-relative">
                        <img src="../../assets/images/prayerbg-2.png" alt="">
                        <div class="overlay"></div>
                        <div class="allprayer-details">
                            <h3 class="mb-0">Prayer for Faith</h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 mb-7">
                <a href="/website/prayerMiracle">
                    <div class="myprayer position-relative">
                        <img src="../../assets/images/prayerbg-3.png" alt="">
                        <div class="overlay"></div>
                        <div class="allprayer-details">
                            <h3 class="mb-0">Prayer for Gratitude</h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 mb-7">
                <a href="/website/prayerMiracle">
                    <div class="myprayer position-relative">
                        <img src="../../assets/images/prayerbg-4.png" alt="">
                        <div class="overlay"></div>
                        <div class="allprayer-details">
                            <h3 class="mb-0">Prayer for Anxiety</h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 mb-7">
                <a href="/website/prayerMiracle">
                    <div class="myprayer position-relative">
                        <img src="../../assets/images/prayerbg-5.png" alt="">
                        <div class="overlay"></div>
                        <div class="allprayer-details">
                            <h3 class="mb-0">Prayer for Forgiveness</h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 mb-7">
                <a href="/website/prayerMiracle">
                    <div class="myprayer position-relative">
                        <img src="../../assets/images/prayerbg-6.png" alt="">
                        <div class="overlay"></div>
                        <div class="allprayer-details">
                            <h3 class="mb-0">Prayer for Healing</h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 mb-7">
                <a href="/website/prayerMiracle">
                    <div class="myprayer position-relative">
                        <img src="../../assets/images/prayerbg-7.png" alt="">
                        <div class="overlay"></div>
                        <div class="allprayer-details">
                            <h3 class="mb-0">Prayer for Encouragement</h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 mb-7">
                <a href="/website/prayerMiracle">
                    <div class="myprayer position-relative">
                        <img src="../../assets/images/prayerbg-8.png" alt="">
                        <div class="overlay"></div>
                        <div class="allprayer-details">
                            <h3 class="mb-0">Prayer for Friends</h3>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
{{>websiteFooter}} {{{body}}}