<head>
    {{>websiteHeader}}
    {{{body}}}
</head>
<style>
    @media (max-width:768px) {
        .circle-video video {
            width: 100% !important;
        }
    }
</style>

<section class="hero-section" id="aboutus">
    <div class="container">
        <div class="heros">
            <div class="row">
                <div class="col-lg-12">
                    <div class="hero-details text-center">
                        <h3 class="cursive text-center">Prayers
                        </h3>
                        <h1 class="text-white text-center d-flex justify-content-center mb-4">New A & V Testing2
                        </h1>
                        <ul class="ps-0 text-white d-flex flex-wrap gap-2 justify-content-center align-items-center"
                            style="list-style: none;">
                            <li class="text-yeloish">Home</li>
                            <li>></li>
                            <li class="text-yeloish">Video</li>
                            <li>></li>
                            <li>New A & V Testing2</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="listing" class="pt-50 pb-50 detail-margin">
    <div class="container">
        <div class="row pt-50 pb-50">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 mb-7">
                <div class="circle-video position-relative text-center">
                    <video src="../../assets/videos/prayer.mp4" controls
                        style="border-radius: 16px;width: 850px;"></video>
                </div>
                <div class="circle-details mt-15">
                    <div class="language">
                        <p class="mb-0 languages-badge bg-dark">Hindi</p>
                        <p class="mb-0 languages-badge bg-danger">English</p>
                    </div>
                    <div class="joint mt-15">
                        <p class="text-graish mb-0" style="font-size: 14px;"><i class="fa-regular fa-clock"></i>
                            Posted 14
                            Mins ago</p>
                        <div>
                            <h4 class="mb-0 mt-15 fs-36">New A & V Testing2</h4>
                            <p class="mb-0 text-graish">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                                dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                                sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                    </div>
                    <div class="count-circle d-block bg-white mt-15">
                        <div class="circle-watching gap-4 ">
                            <a href="#">
                                <div class="view-circle">
                                    <h5 class="mb-0">
                                        <i class="fa fa-eye"></i>
                                        2K
                                    </h5>
                                </div>
                            </a>
                            <div class="seprter"></div>
                            <a href="#">
                                <div class="view-circle">
                                    <h5 class="mb-0">
                                        <i class="fa-solid fa-thumbs-up"></i>
                                        2K
                                    </h5>
                                </div>
                            </a>
                            <div class="seprter"></div>
                            <a href="#">
                                <div class="view-circle">
                                    <h5 class="mb-0">
                                        <i class="fa-solid fa-share"></i>
                                        100
                                    </h5>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="share-on mt-15 mb-5">
                        <h4 class="fs-16">Share on</h4>
                        <div class="socials-images mt-0">
                            <a href="#">
                                <img src="../../assets/images/icons/facebook.png" alt=""></a>
                            <a href="#"> <img src="../../assets/images/icons/twitter.png" alt=""></a>
                            <a href="#"><img src="../../assets/images/icons/reddit.png" alt=""></a>
                            <a href="#"> <img src="../../assets/images/icons/youtube.png" alt=""></a>
                            <a href="#"> <img src="../../assets/images/icons/instagram.png" alt=""></a>
                            <a href="#"> <img src="../../assets/images/icons/mail.png" alt="" width="30"
                                    height="30"></a>
                        </div>
                    </div>
                    <hr class="line" style="border-color: #e6e6e6 !important;">
                    <div class="footer-contact d-flex align-items-center justify-content-between flex-wrap pb-50 mt-5">
                        <div>
                            <h3 class="mb-0">2 Inspirational Messages, Prayer Request, or Prayer Answers</h3>
                        </div>
                        <a href="#" class="btn btn-custom mt-0">+ Post a Comment</a>
                    </div>
                    <div class="comment-wrapper">
                        <div class="comments-list">

                            <div class="user-details d-flex align-items-center justify-content-between mb-3">
                                <div class=" d-flex align-items-center gap-2">
                                    <img src="../../assets/images/avtar/1.jpg" alt="" width="50" height="50"
                                        class="rounded-circle">
                                    <div class="user-share">
                                        <p class="mb-0"><b>Robert Fox</b></p>
                                    </div>
                                </div>
                                <a href="#" class="report-flaged">
                                    <div data-bs-toggle="tooltip" data-bs-placement="top"
                                        data-bs-title="Report a abuse">
                                        <i class="fa-regular fa-flag"></i>
                                    </div>
                                </a>
                            </div>

                            <p class="text-graish mb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                do
                                eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            <div class="timing">
                                <span class="text-graish">1 day ago</span>
                            </div>
                        </div>
                        <div class="comments-list">
                            <div class="user-details d-flex align-items-center justify-content-between mb-3">
                                <div class=" d-flex align-items-center gap-2">
                                    <img src="../../assets/images/avtar/4.jpg" alt="" width="50" height="50"
                                        class="rounded-circle">
                                    <div class="user-share">
                                        <p class="mb-0"><b>Eleanor Pena</b></p>
                                    </div>
                                </div>
                                <a href="#" class="report-flaged">
                                    <div data-bs-toggle="tooltip" data-bs-placement="top"
                                        data-bs-title="Report a abuse">
                                        <i class="fa-regular fa-flag"></i>
                                    </div>
                                </a>
                            </div>
                            <p class="text-graish mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                do
                                eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            <div class="video">
                                <video src="../../assets/videos/prayer.mp4" controls></video>
                            </div>
                            <div class="timing">
                                <span class="text-graish">1 month ago</span>
                            </div>
                        </div>

                        <div class="shadow-btn text-center">
                            <a href="#" class="btn-shadow btn ">View All</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{>websiteFooter}} {{{body}}}