<head>
    {{>websiteHeader}}
    {{{body}}}
</head>

<section class="hero-section" id="aboutus">
    <div class="container">
        <div class="heros">
            <div class="row">
                <div class="col-lg-12">
                    <div class="hero-details text-center">
                        <h3 class="cursive text-center">Membership</h3>
                        <h1 class="text-white text-center d-flex justify-content-center mb-4">Prayers that Heal
                            Plans
                        </h1>
                        <ul class="ps-0 text-white d-flex flex-wrap gap-2 justify-content-center align-items-center"
                            style="list-style: none;">
                            <li class="text-yeloish">Home</li>
                            <li>></li>
                            <li>Membership</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="listing" class="pt-50 pb-50 detail-margin">
    <div class="container">
        <div class="row pt-50 pb-50 justify-content-center">
            <div class="col-lg-6">
                <div class="card shadow-mine">
                    <div class="card-body my-30px">
                        <div class="star-image text-center">
                            <img src="../assets/images/icons/star.png" class="mb-3" alt="" width="120" height="120">
                            <p class="text-graish mb-30">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                sed
                                do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
                            <div class="row justify-content-center mb-30">
                                <div class="col-lg-12 mb-7">
                                    <a href="#">
                                        <div class="card br-16 custom-card premium-plan"
                                            style="border: 1px solid #ff8a0a ;">
                                            <div class="premium-text">
                                                <h5 class="text-white mb-0 fs-16"><i
                                                        class="fa fa-star text-white me-2"></i>Premium</h5>
                                            </div>
                                            <div class="card-body text-start br-16" style="padding: 40px 90px;">
                                                <h5 class="fs-18 fw-bold text-color mb-7px">Paid Membership</h5>
                                                <p class=" text-graish fs-18 mb-7px">Lorem Ipsum is simply dummy
                                                    text of the printing and typesetting industry. Lorem Ipsum has
                                                    been the industry's standard dummy text ever since the 1500s,
                                                </p>
                                                <span class="text-graish"><b>Price :</b> 26.99₹ / year</span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-12">

                                    <a href="#">
                                        <div class="card  custom-card acive-plan  br-16"
                                            style="border: 1px solid #f00;">
                                            <div class="card-body text-start br-16" style="padding: 40px 90px;">
                                                <h5 class="fs-18 fw-bold text-color mb-7px">Free Membership</h5>
                                                <p class=" text-graish fs-18 mb-7px">Lorem Ipsum is simply dummy
                                                    text of the printing and typesetting industry. Lorem Ipsum has
                                                    been the industry's standard dummy text ever since the 1500s,
                                                </p>
                                                <span class="text-graish"><b>Price :</b> Free for unlimited
                                                    time</span>
                                                <br>
                                                <span class="text-graish"><b>Current Status :</b> February 21,
                                                    2024</span>
                                                <br>
                                                <span class="text-graish"><b>Expiration Date :</b> Unlimited</span>

                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="text-center">
                                <a href="#" class="btn btn-custom mb-3 my-0"
                                    style="padding: 12px 40px !important;">Upgrade</a>
                                <h6>Restore purchase, T&C <span class="text-graish">and</span> Privacy Policy</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{>websiteFooter}} {{{body}}}