<head>
    {{>websiteHeader}}
    {{{body}}}
</head>
<style>
    @media (max-width:768px) {
        .circle-video video {
            width: 100% !important;
        }
    }
</style>

<section class="hero-section" id="aboutus">
    <div class="container">
        <div class="heros">
            <div class="row">
                <div class="col-lg-12">
                    <div class="hero-details text-center">
                        <h3 class="cursive text-center">Prayers</h3>
                        <h1 class="text-white text-center d-flex justify-content-center mb-4">Test
                        </h1>
                        <ul class="ps-0 text-white d-flex flex-wrap gap-2 justify-content-center align-items-center"
                            style="list-style: none;">
                            <li class="text-yeloish">Home</li>
                            <li>></li>
                            <li class="text-yeloish">Public Square</li>
                            <li>></li>
                            <li>test</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="listing" class="pt-50 pb-50 detail-margin">
    <div class="container">
        <div class="row pt-50 pb-50">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 mb-7">
                <div class="circle-video position-relative text-center">
                    <!-- <video src="../../assets/videos/prayer.mp4" controls
                            style="border-radius: 16px;width: 850px;"></video> -->
                    <img src="../../assets/images/static.png" style="border-radius: 16px;width: 850px;" alt="">
                </div>
                <div class="circle-details mt-15">
                    <div class="joint mt-15">
                        <p class="text-graish mb-0" style="font-size: 14px;"><i class="fa-regular fa-clock"></i>
                            Posted 14
                            Mins ago</p>
                        <div>
                            <h4 class="mb-0 mt-15 fs-36">Transform Life with Prayer</h4>
                            <div class="socials-images mt-15">
                                <a href="#">
                                    <img src="../../assets/images/icons/facebook.png" alt=""></a>
                                <a href="#"> <img src="../../assets/images/icons/twitter.png" alt=""></a>
                                <a href="#"><img src="../../assets/images/icons/reddit.png" alt=""></a>
                                <a href="#"> <img src="../../assets/images/icons/youtube.png" alt=""></a>
                                <a href="#"> <img src="../../assets/images/icons/instagram.png" alt=""></a>
                                <a href="#"> <img src="../../assets/images/icons/mail.png" alt="" width="30"
                                        height="30"></a>
                            </div>
                            <p class="mb-0 text-graish mt-15">Lorem ipsum dolor sit amet, consectetur adipiscing
                                elit.
                                Fusce lobortis suscipit nunc, ut interdum diam mollis et. Mauris at orci pretium,
                                sagittis leo nec, mattis ipsum. Phasellus vestibulum faucibus bibendum. Nulla et
                                justo dignissim, iaculis ipsum dictum, faucibus ex. In euismod ex tempor risus
                                dignissim condimentum. Aenean posuere sem leo, ut mollis eros imperdiet id. Praesent
                                laoreet nunc est, ac finibus ligula ultricies a. Donec in elit eget arcu vehicula
                                mollis a in neque. Nulla eget sapien ullamcorper, commodo odio vel, blandit ligula.
                                Maecenas pulvinar tristique dui in cursus. Aliquam imperdiet egestas nisi.

                                Aliquam erat volutpat. Aenean vel semper est, sed lacinia sapien. Phasellus non
                                semper nisi. Donec mollis, mi quis mollis posuere, dolor massa eleifend urna, eget
                                euismod augue lorem a nunc. Donec rutrum eget sapien ut pulvinar. Nulla eget sapien
                                sodales ipsum vestibulum cursus. Orci varius natoque penatibus et magnis dis
                                parturient montes, nascetur ridiculus mus. Nullam vitae lacinia justo, vel ultrices
                                lectus.

                                Aliquam maximus eget mi at fringilla. Praesent neque erat, viverra nec lacinia quis,
                                ultrices a nibh. Aliquam efficitur congue quam quis vestibulum. Vivamus sodales
                                consectetur metus, eu tempus leo. Fusce nec tempor lorem. Aliquam lacus dui,
                                vehicula vitae ipsum et, tristique fringilla urna. Aenean ac massa a arcu cursus
                                rutrum at ac ligula. Vestibulum non erat non arcu posuere venenatis. Fusce vitae ex
                                nisi. Donec finibus faucibus sapien, tincidunt pulvinar ipsum mollis eget. Nullam
                                eleifend rhoncus sapien non auctor. Duis rutrum scelerisque nibh sed ultrices. Morbi
                                eu pulvinar velit, vitae aliquam elit.</p>
                        </div>
                    </div>
                    <div class="count-circle d-block bg-white mt-15" style="max-width: 300px;">
                        <div class="circle-watching gap-4 ">
                            <a href="#">
                                <div class="view-circle">
                                    <h5 class="mb-0">
                                        <i class="fa fa-eye"></i>
                                        2K
                                    </h5>
                                </div>
                            </a>
                            <div class="seprter"></div>
                            <a href="#">
                                <div class="view-circle">
                                    <h5 class="mb-0">
                                        <i class="fa-solid fa-thumbs-up"></i>
                                        2K
                                    </h5>
                                </div>
                            </a>
                            <div class="seprter"></div>
                            <a href="#">
                                <div class="view-circle">
                                    <h5 class="mb-0">
                                        <i class="fa-solid fa-share"></i>
                                        100
                                    </h5>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="count-circle mt-15 justify-content-around" style="background-color: #F0F8FF;">
                        <div class="circle-history">
                            <h5><img src="../../assets/images/icons/pray.svg" alt="" class="img-fluid me-1"> <span
                                    class=" badge-up" style="font-weight: 500;">2k</span></h5>
                            <h6>I am praying now</h6>
                        </div>
                        <div class="circle-history">
                            <h5><img src="../../assets/images/icons/folded.svg" alt="" class="img-fluid me-1"> <span
                                    class=" badge-up" style="font-weight: 500;">2k</span></h5>
                            <h6>I already prayed</h6>
                        </div>
                        <div class="circle-history">
                            <h5><img src="../../assets/images/icons/bible.svg" alt="" class="img-fluid me-1"> <span
                                    class=" badge-up" style="font-weight: 500;">2k</span></h5>
                            <h6>I will pray later</h6>
                        </div>
                    </div>

                    <hr class="line" style="border-color: #e6e6e6 !important;">
                    <div class="footer-contact d-flex align-items-center justify-content-between flex-wrap pb-50 mt-5">
                        <div>
                            <h3 class="mb-0">55 Comments</h3>
                        </div>
                        <a href="#" class="btn btn-custom mt-0 post-comment">+ Post a Comment</a>
                    </div>
                    <div class="comment-wrapper">
                        <div class="comments-list">

                            <div class="user-details d-flex align-items-center justify-content-between mb-3">
                                <div class=" d-flex align-items-center gap-2">
                                    <img src="../../assets/images/avtar/1.jpg" alt="" width="50" height="50"
                                        class="rounded-circle">
                                    <div class="user-share">
                                        <p class="mb-0"><b>Robert Fox</b></p>
                                    </div>
                                </div>
                                <a href="#" class="report-flaged">
                                    <div data-bs-toggle="tooltip" data-bs-placement="top"
                                        data-bs-title="Report a abuse">
                                        <i class="fa-regular fa-flag"></i>
                                    </div>
                                </a>
                            </div>

                            <p class="text-graish mb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                do
                                eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            <div class="timing">
                                <span class="text-graish">1 day ago</span>
                            </div>
                        </div>
                        <div class="comments-list">
                            <div class="user-details d-flex align-items-center justify-content-between mb-3">
                                <div class=" d-flex align-items-center gap-2">
                                    <img src="../../assets/images/avtar/4.jpg" alt="" width="50" height="50"
                                        class="rounded-circle">
                                    <div class="user-share">
                                        <p class="mb-0"><b>Eleanor Pena</b></p>
                                    </div>
                                </div>
                                <a href="#" class="report-flaged">
                                    <div data-bs-toggle="tooltip" data-bs-placement="top"
                                        data-bs-title="Report a abuse">
                                        <i class="fa-regular fa-flag"></i>
                                    </div>
                                </a>
                            </div>
                            <p class="text-graish mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                do
                                eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            <div class="video">
                                <video src="../../assets/videos/prayer.mp4" controls></video>
                            </div>
                            <div class="timing">
                                <span class="text-graish">1 month ago</span>
                            </div>
                        </div>

                        <div class="shadow-btn text-center">
                            <a href="#" class="btn-shadow btn ">View All</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{>websiteFooter}} {{{body}}}

<script>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>
<script>
    $(document).ready(function () {
        $(".report-flaged").click(function () {
            $("#flagged").modal("show")
        })
    })
</script>
<script>
    $(document).ready(function () {
        $(".post-comment").click(function () {
            $("#postcomment").modal("show")
        })
    })
</script>
<script>
    const fileInput = document.getElementById('file');
    const previewImage = document.getElementById('preview');
    const textCenterDiv = document.querySelector('.text-preview');
    const previewDiv = document.querySelector('.preview-image');

    fileInput.addEventListener('change', function () {
        const file = this.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function (event) {
                previewImage.src = event.target.result;
                textCenterDiv.style.display = 'none';
                previewDiv.style.display = 'block';
            };
            reader.readAsDataURL(file);
        } else {
            previewImage.src = '../../assets/images/bg.png'; // Default image
            textCenterDiv.style.display = 'block';
            previewDiv.style.display = 'none';
        }
    });
</script>