<head>
    {{>websiteHeader}}
    {{{body}}}
</head>
<section class="hero-section" id="aboutus">
    <div class="container">
        <div class="heros">
            <div class="row">
                <div class="col-lg-12">
                    <div class="hero-details text-center">
                        <h3 class="cursive text-center">Follow Profile</h3>
                        <h1 class="text-white text-center d-flex justify-content-center mb-4">Heading text come here
                        </h1>
                        <ul class="ps-0 text-white d-flex flex-wrap gap-2 justify-content-center align-items-center"
                            style="list-style: none;">
                            <li class="text-yeloish">Home</li>
                            <li>></li>
                            <li class="text-yeloish">My Account</li>
                            <li>></li>
                            <li>Follow Profile</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="listing" class="pt-50 pb-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="listing d-flex justify-content-between align-items-center flex-wrap gap-2">
                    <div>
                        <h3 class="mb-0 fw-bold">Profile Listings</h3>
                        <p class="mb-0 text-black-50">( Showing 450 Results )
                        </p>
                    </div>
                    <div class="search d-flex gap-3">
                        <form action="" class="position-relative d-flex gap-3" id="search-list">
                            <div>
                                <input type="text" class="form-control form-custom ps-3" style="width: 320px;"
                                    placeholder="Search...">
                                <a href="#" class="btn btn-danger search-icon"
                                    style="right: 0;
                                    padding: 10px 18px;
                                    margin-top: 0px;
                                    border-top-left-radius: 0px !important;border-bottom-left-radius: 0px !important;border-radius: 16px;"><i
                                        class="fa fa-search"></i></a>
                            </div>
                        </form>
                        <div class="filter-btn">
                            <a href="#" class="bg-light-50 " data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="../../assets/images/icons/filter.png" alt="" class="img-fluid">
                            </a>
                            <div class="dropdown-custom dropdown-menu py-0">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="profile">
                                            <div class="info">
                                                <div
                                                    class="d-flex justify-content-between align-items-center flex-wrap mb-3">
                                                    <h5 class="mb-0">Filters</h5>
                                                    <a href="#" class="clear-all">Clear all</a>
                                                </div>
                                                <div class="options  mt-2">
                                                    <form action="">
                                                        <div class="custom-margin">
                                                            <label for="date">Search keyword</label>
                                                            <input type="search" class="form-control form-custom"
                                                                placeholder="Search...">
                                                        </div>
                                                        <div class="custom-margin">
                                                            <label for="date">Search</label>
                                                            <select name="" class="form-control" id="">
                                                                <option value="select" disabled="" hidden=""
                                                                    selected="">
                                                                    Select</option>
                                                                <option value="mircle">Miracle</option>
                                                            </select>
                                                        </div>
                                                        <div class="custom-margin">
                                                            <label for="date">From</label>
                                                            <input type="date" class="form-control form-custom"
                                                                placeholder="Search...">
                                                        </div>
                                                        <div class="custom-margin">
                                                            <label for="date">To</label>
                                                            <input type="date" class="form-control form-custom"
                                                                placeholder="Search...">
                                                        </div>
                                                        <div class="text-center">
                                                            <button type="submit"
                                                                class="btn btn-custom mt-0">Submit</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="create-btn">
                            <a href="../prayerCircle/add-post.html" class="btn btn-outline-red">
                                Create a Post
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-50 pb-50">
            <div class="col-lg-4 col-md-6 col-sm-12 col-12 mb-7">
                <a href="#" class="">
                    <div class="d-flex justify-content-between align-items-center flex-wrap">
                        <div class="user-details d-flex align-items-center gap-2">
                            <div class="user-img">
                                <img src="../../assets/images/avtar/1.jpg" alt="">
                            </div>
                            <div class="user-share">
                                <p class="mb-0"><b>Robert Fox</b></p>
                            </div>
                        </div>
                        <div class="dropdown">
                            <a href="#" class="mb-0 fs-14 fw-600 dropdown-toggle text-color" data-bs-toggle="dropdown"
                                aria-expanded="false"><i class="fa-solid fa-ellipsis-vertical text-color fs-16"></i></a>
                            <ul class="dropdown-menu border-0 py-0 shadow">
                                <li><a href="../account/profile.html" class="dropdown-item " type="button">View
                                        Profile</a></li>
                                <li><a href="#" class="dropdown-item" type="button">Unfollow</a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </a>
                <div class="circle-video position-relative">
                    <img src="../../assets/images/circle-video.png" alt="">
                    <div class="overlay"></div>
                    <div class="video-play-icon">
                        <a href="../../pages/video/video-details.html">
                            <img src="../../assets/images/play-icon.png" width="70" height="70" alt="">
                        </a>
                    </div>
                </div>
                <div class="circle-details mt-15">

                    <div class="language">
                        <p class="mb-0 languages-badge bg-dark">Hindi</p>
                        <p class="mb-0 languages-badge bg-danger">English</p>
                    </div>
                    <div class="socials-images mt-15">
                        <img src="../../assets/images/icons/facebook.png" alt="">
                        <img src="../../assets/images/icons/twitter.png" alt="">
                        <img src="../../assets/images/icons/reddit.png" alt="">
                        <img src="../../assets/images/icons/youtube.png" alt="">
                        <img src="../../assets/images/icons/instagram.png" alt="">
                    </div>
                    <div class="joint">
                        <div>
                            <h4 class="mb-0 mt-15">Transform Life with Prayer</h4>
                            <p class="mb-0 text-graish para">Lorem ipsum dolor sit amet consectetur adipisicing
                                elit.
                                Necessitatibus
                                asperiores fugit quos repellat cupiditate molestiae sequi tempora.</p>
                        </div>
                    </div>
                    <div class="count-circle d-block mt-15">
                        <div class="circle-watching justify-content-between">
                            <div class="view-circle">
                                <h5 class="mb-0">
                                    <i class="fa fa-eye"></i>
                                    2K
                                </h5>
                            </div>
                            <div class="seprter"></div>
                            <div class="view-circle">
                                <h5 class="mb-0">
                                    <i class="fa-solid fa-thumbs-up"></i>
                                    2K
                                </h5>
                            </div>
                            <div class="seprter"></div>
                            <div class="view-circle">
                                <h5 class="mb-0">
                                    <i class="fa-solid fa-share"></i>
                                    100
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-12 mb-7">
                <a href="#" class="">
                    <div class="d-flex justify-content-between align-items-center flex-wrap">
                        <div class="user-details d-flex align-items-center gap-2">
                            <div class="user-img">
                                <img src="../../assets/images/avtar/1.jpg" alt="">
                            </div>
                            <div class="user-share">
                                <p class="mb-0"><b>Robert Fox</b></p>
                            </div>
                        </div>
                        <div class="dropdown">
                            <a href="#" class="mb-0 fs-14 fw-600 dropdown-toggle text-color" data-bs-toggle="dropdown"
                                aria-expanded="false"><i class="fa-solid fa-ellipsis-vertical text-color fs-16"></i></a>
                            <ul class="dropdown-menu border-0 py-0 shadow">
                                <li><a href="../account/profile.html" class="dropdown-item " type="button">View
                                        Profile</a></li>
                                <li><a href="#" class="dropdown-item" type="button">Unfollow</a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </a>
                <div class="circle-video position-relative">
                    <img src="../../assets/images/circle-video.png" alt="">
                    <div class="overlay"></div>
                    <div class="video-play-icon">
                        <a href="../../pages/video/video-details.html">
                            <img src="../../assets/images/play-icon.png" width="70" height="70" alt="">
                        </a>
                    </div>
                </div>
                <div class="circle-details mt-15">

                    <div class="language">
                        <p class="mb-0 languages-badge bg-dark">Hindi</p>
                        <p class="mb-0 languages-badge bg-danger">English</p>
                    </div>
                    <div class="socials-images mt-15">
                        <img src="../../assets/images/icons/facebook.png" alt="">
                        <img src="../../assets/images/icons/twitter.png" alt="">
                        <img src="../../assets/images/icons/reddit.png" alt="">
                        <img src="../../assets/images/icons/youtube.png" alt="">
                        <img src="../../assets/images/icons/instagram.png" alt="">
                    </div>
                    <div class="joint">
                        <div>
                            <h4 class="mb-0 mt-15">Transform Life with Prayer</h4>
                            <p class="mb-0 text-graish para">Lorem ipsum dolor sit amet consectetur adipisicing
                                elit.
                                Necessitatibus
                                asperiores fugit quos repellat cupiditate molestiae sequi tempora.</p>
                        </div>
                    </div>
                    <div class="count-circle d-block mt-15">
                        <div class="circle-watching justify-content-between">
                            <div class="view-circle">
                                <h5 class="mb-0">
                                    <i class="fa fa-eye"></i>
                                    2K
                                </h5>
                            </div>
                            <div class="seprter"></div>
                            <div class="view-circle">
                                <h5 class="mb-0">
                                    <i class="fa-solid fa-thumbs-up"></i>
                                    2K
                                </h5>
                            </div>
                            <div class="seprter"></div>
                            <div class="view-circle">
                                <h5 class="mb-0">
                                    <i class="fa-solid fa-share"></i>
                                    100
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

{{>websiteFooter}} {{{body}}}