<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="shortcut icon" href="../assets/images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../assets/css/fontawesome.css">
    <link rel="stylesheet" href="../assets/css/bootstrap.css">
    <link rel="stylesheet" href="../assets/css/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.css"
        integrity="sha512-oe8OpYjBaDWPt2VmSFR+qYOdnTjeV9QPLJUeqZyprDEQvQLJ9C5PCFclxwNuvb/GQgQngdCXzKSFltuHD3eCxA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<style>
    label.error {
        color: red !important;
    }
</style>

<body>
    <div class="loader-wrapper ">
        <div class="loader d-flex justify-content-center align-items-center">
            <div class="ball-scale-multiple">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
    <section class="login">
        <div class="custom-height">
            <div id="login">
                <div class="modal fade show" id="exampleModalCenter" tabindex="-1"
                    aria-labelledby="exampleModalCenterTitle" style="display: block;" aria-modal="true" role="dialog">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-body">
                                <div id="logo">
                                    <a href="#">
                                        <img src="../assets/images/logo.png" alt="" class="img-fluid">
                                    </a>
                                    <!-- <h1 class="mb-0 cursive">Login</h1> -->
                                    <h1 class="main-heading text-white">Forgot Password?</h1>
                                    <p class="text-white-50">Don’t worry! It happens, Please enter the emai address
                                        associated with your account.
                                    </p>
                                    <form action="/website/resetpass" method="post" id="formAuthentication"
                                        class="text-start">
                                        <div class="custom-margin">
                                            <label for="email">Email ID</label>
                                            <input type="text" placeholder="abc@gmail.com" name="email"
                                                class="form-control form-custom" value="">
                                        </div>
                                        <div class="login-btn text-center">
                                            <button type="submit" class="btn btn-custom">Submit</button>
                                        </div>
                                    </form>
                                    <footer>
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <p>Back to <a href="/website/login">login</a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </footer>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <script src="../assets/js/jquery.js"></script>
    <script src="../assets/js/bundle.js"></script>
    <script src="../assets/js/script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#formAuthentication").validate({
                rules: {
                    email: {
                        required: true
                    },
                },
                messages: {
                    email: {
                        required: "Please enter email"
                    },
                }
            });

            $("form").on("submit", function () {
                let email = 
            })
        });
    </script>
    {{#if successToast}}
    <script>
        toastr.success('{{successToast}}');
    </script>
    {{/if}}
    {{#if errorToast}}
    <script>
        toastr.error('{{errorToast}}');
    </script>
    {{/if}}

</body>

</html>