<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="shortcut icon" href="../assets/images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../assets/css/fontawesome.css">
    <link rel="stylesheet" href="../assets/css/bootstrap.css">
    <link rel="stylesheet" href="../assets/css/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="loader-wrapper ">
        <div class="loader d-flex justify-content-center align-items-center">
            <div class="ball-scale-multiple">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
    <section class="login">
        <div class="custom-height">
            <div id="login">
                <div class="modal fade show" id="exampleModalCenter" tabindex="-1"
                    aria-labelledby="exampleModalCenterTitle" style="display: block;" aria-modal="true" role="dialog">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-body">
                                <div id="logo">
                                    <a href="#">
                                        <img src="../assets/images/success.png" alt="" class="img-fluid mb-0">
                                    </a>
                                    <h1 class="main-heading text-white">Password Changed!</h1>
                                    <p class="text-white-50">Your new password has been changed successfully.
                                    </p>
                                    <form action="" class="text-start">
                                        <div class="login-btn text-center">
                                            <!-- <button class="btn btn-custom">Back to Login</button> -->
                                            <a href="/website/login" class="btn btn-custom">Back to Login</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <script src="../assets/js/jquery.js"></script>
    <script src="../assets/js/bundle.js"></script>
    <script src="../assets/js/script.js"></script>
</body>

</html>