<head>
    {{>websiteHeader}}
    {{{body}}}
</head>
<section class="hero-section" id="aboutus">
    <div class="container">
        <div class="heros">
            <div class="row">
                <div class="col-lg-12">
                    <div class="hero-details text-center">
                        <h3 class="cursive text-center">Prayer Circle</h3>
                        <h1 class="text-white text-center d-flex justify-content-center mb-4">Join Hands in
                            Spiritual Unity
                        </h1>
                        <ul class="ps-0 text-white d-flex flex-wrap gap-2 justify-content-center align-items-center"
                            style="list-style: none;">
                            <li class="text-yeloish">Home</li>
                            <li>></li>
                            <li>Prayer Circle</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="listing" class="p-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="listing d-flex justify-content-between align-items-center flex-wrap gap-2">
                    <div>
                        <h3 class="mb-0 fw-bold">Prayer Circle Groups Listings</h3>
                        <p class="mb-0 text-black-50">( Showing 450 Results )
                        </p>
                    </div>
                    <div class="search d-flex gap-3">
                        <form action="" class="position-relative d-flex gap-3" id="search-list">
                            <div>
                                <input type="text" class="form-control form-custom ps-3" style="width: 320px;"
                                    placeholder="Search...">
                                <a href="#" class="btn btn-danger search-icon"
                                    style="right: 0;
                                    padding: 10px 18px;
                                    margin-top: 0px;
                                    border-top-left-radius: 0px !important;border-bottom-left-radius: 0px !important;border-radius: 16px;"><i
                                        class="fa fa-search"></i></a>
                            </div>
                        </form>
                        <div class="filter-btn">
                            <a href="#" class="bg-light-50 " data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="../../assets/images/icons/filter.png" alt="" class="img-fluid">
                            </a>
                            <div class="dropdown-custom dropdown-menu py-0">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="profile">
                                            <div class="info">
                                                <div
                                                    class="d-flex justify-content-between align-items-center flex-wrap mb-3">
                                                    <h5 class="mb-0">Filters</h5>
                                                    <a href="#" class="clear-all">Clear all</a>
                                                </div>
                                                <div class="options  mt-2">
                                                    <form action="">
                                                        <div class="custom-margin">
                                                            <label for="date">Search keyword</label>
                                                            <input type="search" class="form-control form-custom"
                                                                placeholder="Search...">
                                                        </div>
                                                        <div class="custom-margin">
                                                            <label for="date">Search</label>
                                                            <select name="" class="form-control" id="">
                                                                <option value="select" disabled hidden selected>
                                                                    Select</option>
                                                                <option value="mircle">Miracle</option>
                                                            </select>
                                                        </div>
                                                        <div class="custom-margin">
                                                            <label for="date">From</label>
                                                            <input type="date" class="form-control form-custom"
                                                                placeholder="Search...">
                                                        </div>
                                                        <div class="custom-margin">
                                                            <label for="date">To</label>
                                                            <input type="date" class="form-control form-custom"
                                                                placeholder="Search...">
                                                        </div>
                                                        <div class="text-center">
                                                            <button type="submit"
                                                                class="btn btn-custom mt-0">Submit</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="create-btn">
                            <a href="/website/createGroup" class="btn btn-outline-red">
                                Create a Group
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-50 pb-50">
            <div class="col-lg-4 col-md-12 col-sm-12 col-12 mb-7">
                <div class="circle-video videos-div position-relative">
                    <video src="../../assets/videos/prayer.mp4" class="mb-10px" controls="" width="100%"></video>
                    <!-- <img src="../assets/images/circle-video.png" alt=""> -->
                    <!-- <div class="overlay"></div>
                            <div class="video-play-icon">
                                <a href="#">
                                    <img src="../assets/images/play-icon.png" width="70" height="70" alt="">
                                </a>
                            </div> -->
                </div>
                <div class="circle-details ">
                    <p class="text-graish mb-10px" style="font-size: 14px;"><i class="fa-regular fa-clock"></i>
                        Posted 14
                        Mins ago</p>
                    <div class="joint">
                        <div>
                            <a href="/website/privateGroup">
                                <h4 class="mb-0">TEST GROUP/CIRCLE 9</h4>
                            </a>
                            <p class="mb-0 paragraph"><b>1.8K</b> <span class="text-graish">Members</span> •
                                <b>40+</b> <span class="text-graish">Prayer</span>
                            </p>

                        </div>
                        <div>
                            <a href="#" class="btn btn-outline-custom">Join</a>
                        </div>
                    </div>

                    <p class="text-graish mt-15 para"> Test Managers 1Test Managers 1Test Managers 1Test
                        Managers
                        1Test Managers...
                        <a href="/website/privateGroup" class="read-mode">Read
                            More</a>
                    </p>

                    <div class="count-circle mt-15">
                        <div class="circle-history">
                            <h5><img src="../../assets/images/icons/pray.svg" alt="" class="img-fluid me-1"> <span
                                    class=" badge-up" style="font-weight: 500;">2k</span></h5>
                            <h6>I am praying now</h6>
                        </div>
                        <div class="circle-history">
                            <h5><img src="../../assets/images/icons/folded.svg" alt="" class="img-fluid me-1"> <span
                                    class=" badge-up" style="font-weight: 500;">2k</span></h5>
                            <h6>I already prayed</h6>
                        </div>
                        <div class="circle-history">
                            <h5><img src="../../assets/images/icons/bible.svg" alt="" class="img-fluid me-1"> <span
                                    class=" badge-up" style="font-weight: 500;">2k</span></h5>
                            <h6>I will pray later</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-12 mb-7">
                <div class="circle-video videos-div position-relative">
                    <!-- <video src="../../assets/videos/prayer.mp4" class="mb-10px" controls="" width="100%"></video> -->
                    <img src="../../assets/images/static.png" alt="" class="mb-10px">
                    <!-- <div class="overlay"></div>
                            <div class="video-play-icon">
                                <a href="#">
                                    <img src="../assets/images/play-icon.png" width="70" height="70" alt="">
                                </a>
                            </div> -->
                </div>
                <div class="circle-details mt-2">
                    <p class="text-graish mb-10px" style="font-size: 14px;"><i class="fa-regular fa-clock"></i>
                        Posted 14
                        Mins ago</p>
                    <div class="joint">
                        <div>
                            <a href="/website/privateStaticGroup">
                                <h4 class="mb-0">TEST GROUP/CIRCLE 9</h4>
                            </a>
                            <p class="mb-0 paragraph"><b>1.8K</b> <span class="text-graish">Members</span> •
                                <b>40+</b> <span class="text-graish">Prayer</span>
                            </p>

                        </div>
                        <div>
                            <a href="#" class="btn btn-outline-custom">Join</a>
                        </div>
                    </div>

                    <p class="text-graish mt-15 para"> Test Managers 1Test Managers 1Test Managers 1Test
                        Managers
                        1Test Managers...
                        <a href="/website/privateStaticGroup" class="read-mode">Read
                            More</a>
                    </p>

                    <div class="count-circle mt-15">
                        <div class="circle-history">
                            <h5><img src="../../assets/images/icons/pray.svg" alt="" class="img-fluid me-1"> <span
                                    class=" badge-up" style="font-weight: 500;">2k</span></h5>
                            <h6>I am praying now</h6>
                        </div>
                        <div class="circle-history">
                            <h5><img src="../../assets/images/icons/folded.svg" alt="" class="img-fluid me-1"> <span
                                    class=" badge-up" style="font-weight: 500;">2k</span></h5>
                            <h6>I already prayed</h6>
                        </div>
                        <div class="circle-history">
                            <h5><img src="../../assets/images/icons/bible.svg" alt="" class="img-fluid me-1"> <span
                                    class=" badge-up" style="font-weight: 500;">2k</span></h5>
                            <h6>I will pray later</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{>websiteFooter}} {{{body}}}
<script>
    $(document).ready(function () {
        $(".invite-list").click(function () {
            $("#invite").modal("show")
        })
    })
</script>
<script>
    $(document).ready(function () {
        $('#list-search').on('keyup', function () {
            var searchText = $(this).val().toLowerCase();
            $('tbody tr').each(function () {
                var name = $(this).find('td:nth-child(3)').text().toLowerCase();
                if (name.startsWith(searchText)) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        });
    });
</script>