<head>
    {{>websiteHeader}}
    {{{body}}}
</head>
<section class="hero-section" id="aboutus">
    <div class="container">
        <div class="heros">
            <div class="row">
                <div class="col-lg-12">
                    <div class="hero-details text-center">
                        <h3 class="cursive text-center">Favourite</h3>
                        <h1 class="text-white text-center d-flex justify-content-center mb-4">Favourite
                        </h1>
                        <ul class="ps-0 text-white d-flex flex-wrap gap-2 justify-content-center align-items-center"
                            style="list-style: none;">
                            <li class="text-yeloish">Home</li>
                            <li>></li>
                            <li>Favourite</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="listing" class="p-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="listing d-flex justify-content-between align-items-center flex-wrap gap-2">
                    <div>
                        <h3 class="mb-0 fw-bold">Favourite listings</h3>
                        <p class="mb-0 text-black-50">( Showing 450 Results )
                        </p>
                    </div>
                    <div class="search d-flex gap-3">
                        <form action="" class="position-relative d-flex gap-3" id="search-list">
                            <div>
                                <input type="text" class="form-control form-custom ps-3" style="width: 320px;"
                                    placeholder="Search...">
                                <a href="#" class="btn btn-danger search-icon"
                                    style="right: 0;
                                    padding: 10px 18px;
                                    margin-top: 0px;
                                    border-top-left-radius: 0px !important;border-bottom-left-radius: 0px !important;border-radius: 16px;"><i
                                        class="fa fa-search"></i></a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-50 pb-50 align-items-center">
            <div class="col-lg-4 col-md-12 col-sm-12 col-12 mb-7">
                <a href="#">
                    <div class="user-details d-flex align-items-center gap-2">
                        <div class="user-img">
                            <img src="../assets/images/avtar/1.jpg" alt="">
                        </div>
                        <div class="user-share d-flex align-items-center gap-2">
                            <p class="mb-0">by <b>Robert Fox</b></p>
                            <h5><img src="../assets/images/icons/folded.svg" alt="" class="img-fluid me-1"> <span
                                    class=" badge-up text-graish" style="font-weight: 500;font-size: 14px;">6k</span>
                            </h5>
                        </div>
                    </div>
                </a>
                <div class="circle-video position-relative mb-10px">
                    <img src="../assets/images/circle-video.png" alt="">
                    <div class="overlay"></div>
                    <div class="video-play-icon">
                        <a href="square-details.html">
                            <img src="../assets/images/play-icon.png" width="70" height="70" alt="">
                        </a>
                    </div>
                </div>
                <div class="circle-details">
                    <p class="text-graish mb-10px" style="font-size: 14px;"><i class="fa-regular fa-clock"></i>
                        Posted 14
                        Mins ago</p>
                    <div class="socials-images">
                        <img src="../assets/images/icons/facebook.png" alt="">
                        <img src="../assets/images/icons/twitter.png" alt="">
                        <img src="../assets/images/icons/reddit.png" alt="">
                        <img src="../assets/images/icons/youtube.png" alt="">
                        <img src="../assets/images/icons/instagram.png" alt="">
                    </div>

                    <div class="d-flex justify-content-between align-items-center flex-wrap mb-10px  mt-15 pe-2">
                        <a href="square-details.html">
                            <h4 class="mb-0" style="margin-bottom: 0 !important;">Test</h4>
                        </a>
                        <a href="#"><i class="fa-solid fa-bookmark fs-18"></i></a>
                    </div>
                    <p class="text-graish mt-15 para"> Test Managers 1Test Managers 1Test Managers 1Test
                        Managers
                        1Test Managers...
                        <a href="square-details.html" class="read-mode">Read
                            More</a>
                    </p>
                    <div class="circle-watching">
                        <a href="#">
                            <div class="view-circle">
                                <h5 class="mb-0">
                                    <i class="fa fa-eye"></i>
                                    2K
                                </h5>
                            </div>
                        </a>
                        <div class="seprter"></div>
                        <a href="#">
                            <div class="view-circle">
                                <h5 class="mb-0">
                                    <i class="fa-solid fa-thumbs-up"></i>
                                    2K
                                </h5>
                            </div>
                        </a>
                        <div class="seprter"></div>
                        <a href="#">
                            <div class="view-circle">
                                <h5 class="mb-0">
                                    <i class="fa-solid fa-share"></i>
                                    100
                                </h5>
                            </div>
                        </a>
                    </div>
                    <div class="count-circle mt-15" style="background-color: #F0F8FF;">
                        <div class="circle-history">
                            <h5><img src="../assets/images/icons/pray.svg" alt="" class="img-fluid me-1"> <span
                                    class=" badge-up" style="font-weight: 500;">2k</span></h5>
                            <h6>I am praying now</h6>
                        </div>
                        <div class="circle-history">
                            <h5><img src="../assets/images/icons/folded.svg" alt="" class="img-fluid me-1"> <span
                                    class=" badge-up" style="font-weight: 500;">2k</span></h5>
                            <h6>I already prayed</h6>
                        </div>
                        <div class="circle-history">
                            <h5><img src="../assets/images/icons/bible.svg" alt="" class="img-fluid me-1"> <span
                                    class=" badge-up" style="font-weight: 500;">2k</span></h5>
                            <h6>I will pray later</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-12 mb-7">
                <a href="#">
                    <div class="user-details d-flex align-items-center gap-2">
                        <div class="user-img">
                            <img src="../assets/images/avtar/1.jpg" alt="">
                        </div>
                        <div class="user-share d-flex align-items-center gap-2">
                            <p class="mb-0">by <b>User</b></p>
                            <h5><img src="../assets/images/icons/folded.svg" alt="" class="img-fluid me-1"> <span
                                    class=" badge-up text-graish" style="font-weight: 500;font-size: 14px;">6k</span>
                            </h5>
                        </div>
                    </div>
                </a>
                <div class="circle-video position-relative mb-10px">
                    <img src="../assets/images/static.png" alt="">
                </div>
                <div class="circle-details">
                    <p class="text-graish mb-10px" style="font-size: 14px;"><i class="fa-regular fa-clock"></i>
                        Posted 14
                        Mins ago</p>
                    <div class="socials-images">
                        <img src="../assets/images/icons/facebook.png" alt="">
                        <img src="../assets/images/icons/twitter.png" alt="">
                        <img src="../assets/images/icons/reddit.png" alt="">
                        <img src="../assets/images/icons/youtube.png" alt="">
                        <img src="../assets/images/icons/instagram.png" alt="">
                    </div>
                    <div class="d-flex justify-content-between align-items-center flex-wrap mb-10px  mt-15 pe-2">
                        <a href="square-details.html">
                            <h4 class="mb-0" style="margin-bottom: 0 !important;">Test</h4>
                        </a>
                        <a href="#"><i class="fa-solid fa-bookmark fs-18"></i></a>
                    </div>
                    <p class="text-graish mt-15 para"> Test Managers 1Test Managers 1Test Managers 1Test
                        Managers
                        1Test Managers...
                        <a href="square-detailsstats.html" class="read-mode">Read
                            More</a>
                    </p>
                    <div class="circle-watching">
                        <a href="#">
                            <div class="view-circle">
                                <h5 class="mb-0">
                                    <i class="fa fa-eye"></i>
                                    2K
                                </h5>
                            </div>
                        </a>
                        <div class="seprter"></div>
                        <a href="#">
                            <div class="view-circle">
                                <h5 class="mb-0">
                                    <i class="fa-solid fa-thumbs-up"></i>
                                    2K
                                </h5>
                            </div>
                        </a>
                        <div class="seprter"></div>
                        <a href="#">
                            <div class="view-circle">
                                <h5 class="mb-0">
                                    <i class="fa-solid fa-share"></i>
                                    100
                                </h5>
                            </div>
                        </a>
                    </div>
                    <div class="count-circle mt-15" style="background-color: #F0F8FF;">
                        <div class="circle-history">
                            <h5><img src="../assets/images/icons/pray.svg" alt="" class="img-fluid me-1"> <span
                                    class=" badge-up" style="font-weight: 500;">2k</span></h5>
                            <h6>I am praying now</h6>
                        </div>
                        <div class="circle-history">
                            <h5><img src="../assets/images/icons/folded.svg" alt="" class="img-fluid me-1"> <span
                                    class=" badge-up" style="font-weight: 500;">2k</span></h5>
                            <h6>I already prayed</h6>
                        </div>
                        <div class="circle-history">
                            <h5><img src="../assets/images/icons/bible.svg" alt="" class="img-fluid me-1"> <span
                                    class=" badge-up" style="font-weight: 500;">2k</span></h5>
                            <h6>I will pray later</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-12 mb-7">
                <div class="circle-video position-relative mb-10px">
                    <img src="../assets/images/circle-video.png" alt="">
                    <div class="overlay"></div>
                    <div class="video-play-icon">
                        <a href="../pages/Originals/orignal-details.html">
                            <img src="../assets/images/play-icon.png" width="70" height="70" alt="">
                        </a>
                    </div>
                </div>
                <div class="circle-details">
                    <p class="text-graish mb-10px" style="font-size: 14px;"><i class="fa-regular fa-clock"></i>
                        Posted on December 22, 2023 </p>
                    <div class="language">
                        <p class="mb-0 languages-badge bg-dark">Hindi</p>
                        <p class="mb-0 languages-badge bg-danger">English</p>
                    </div>
                    <div class="joint mt-15">
                        <div>

                            <div class="d-flex justify-content-between align-items-center flex-wrap mb-10px">
                                <a href="../pages/Originals/orignal-details.html">
                                    <h4 class="mb-0" style="margin-bottom: 0 !important;">New A &amp; V Testing2
                                    </h4>
                                </a>
                                <a href="#"><i class="fa-solid fa-bookmark fs-18"></i></a>
                            </div>
                            <p class="mb-0 text-graish para"> Test Managers 1Test Managers 1Test Managers 1Test
                                Managers
                                1Test Managers...
                                <a href="../Originals/orignal-details.html" class="read-mode">Read
                                    More</a>
                            </p>
                        </div>
                    </div>
                    <div class="count-circle d-block bg-white shadow">
                        <div class="circle-watching justify-content-between">
                            <a href="#">
                                <div class="view-circle">
                                    <h5 class="mb-0">
                                        <i class="fa fa-eye"></i>
                                        2K
                                    </h5>
                                </div>
                            </a>
                            <div class="seprter"></div>
                            <a href="#">
                                <div class="view-circle">
                                    <h5 class="mb-0">
                                        <i class="fa-solid fa-thumbs-up"></i>
                                        2K
                                    </h5>
                                </div>
                            </a>
                            <div class="seprter"></div>
                            <a href="#">
                                <div class="view-circle">
                                    <h5 class="mb-0">
                                        <i class="fa-solid fa-share"></i>
                                        100
                                    </h5>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


{{>websiteFooter}} {{{body}}}