<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body style="font-family: Arial, sans-serif; background-color: #f4f4f4; margin: 0; padding: 0;">
    <center style="padding-top: 25px;padding-bottom: 24px;">
        <table
            style="max-width: 600px; margin: 20px auto; background-color: #fff; padding: 20px; border-radius: 4px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); width: 100%;">
            <tr>
                <td>
                    <div style="text-align: center; margin-bottom: 20px;">
                        <img src="logo.png" alt="Your Logo" style="max-width: 150px;border-radius: 100%;">
                    </div>
                    <h2 style="text-align: center;">User Query</h2>
                    <h3>Here is a user informations:
                    </h3>
                    <ul>
                        <li style="margin-bottom: 6px;"><strong>Full Name:</strong>{{{name}}}</li>
                        <li><strong>Email:</strong>{{{email}}}</li>
                    </ul>
                    <p style="margin-bottom: 6px;"><strong>Message:</strong></p>
                    <p style="margin: 0;">{{{message}}}</p>
                </td>
            </tr>
        </table>
    </center>
</body>

</html>