<head>
    {{>websiteHeader}}
    {{{body}}}
</head>
<section class="hero-section" id="aboutus">
    <div class="container">
        <div class="heros">
            <div class="row">
                <div class="col-lg-12">
                    <div class="hero-details text-center">
                        <h3 class="cursive text-center">PrayerQuest Originals</h3>
                        <h1 class="text-white text-center d-flex justify-content-center mb-4">Heading text come here
                        </h1>
                        <ul class="ps-0 text-white d-flex flex-wrap gap-2 justify-content-center align-items-center"
                            style="list-style: none;">
                            <li class="text-yeloish">Home</li>
                            <li>></li>
                            <li>PrayerQuest Originals</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="listing" class="p-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="listing d-flex justify-content-between align-items-center flex-wrap gap-2">
                    <div>
                        <h3 class="mb-0 fw-bold">PrayerQuest Originals Listings</h3>
                        <p class="mb-0 text-black-50">( Showing 450 Results )
                        </p>
                    </div>
                    <div class="search">
                        <form action="" class="position-relative" id="search-list">
                            <a href="#" class="search-icon"><i class="fa fa-search"></i></a>
                            <input type="text" class="form-control form-custom ps-5" placeholder="Search...">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-50 pb-50">
            <div class="col-lg-4 col-md-6 col-sm-12 col-12 mb-7">
                <div class="circle-video position-relative mb-10px">
                    <img src="../../assets/images/circle-video.png" alt="">
                    <div class="overlay"></div>
                    <div class="video-play-icon">
                        <a href="../Originals/orignal-details.html">
                            <img src="../../assets/images/play-icon.png" width="70" height="70" alt="">
                        </a>
                    </div>
                </div>
                <div class="circle-details">
                    <p class="text-graish mb-10px" style="font-size: 14px;"><i class="fa-regular fa-clock"></i>
                        Posted on December 22, 2023 </p>
                    <div class="language">
                        <p class="mb-0 languages-badge bg-dark">Hindi</p>
                        <p class="mb-0 languages-badge bg-danger">English</p>
                    </div>
                    <div class="joint mt-15">
                        <div>

                            <div class="d-flex justify-content-between align-items-center flex-wrap mb-10px">
                                <a href="../Originals/orignal-details.html">
                                    <h4 class="mb-0" style="margin-bottom: 0 !important;">New A &amp; V Testing2
                                    </h4>
                                </a>
                                <a href="#"><i class="fa-regular fa-bookmark fs-18"></i></a>
                            </div>
                            <p class="mb-0 text-graish para"> Test Managers 1Test Managers 1Test Managers 1Test
                                Managers
                                1Test Managers...
                                <a href="/website/originalDetails" class="read-mode">Read
                                    More</a>
                            </p>
                        </div>
                    </div>
                    <div class="count-circle d-block bg-white shadow">
                        <div class="circle-watching justify-content-between">
                            <a href="#">
                                <div class="view-circle">
                                    <h5 class="mb-0">
                                        <i class="fa fa-eye"></i>
                                        2K
                                    </h5>
                                </div>
                            </a>
                            <div class="seprter"></div>
                            <a href="#">
                                <div class="view-circle">
                                    <h5 class="mb-0">
                                        <i class="fa-solid fa-thumbs-up"></i>
                                        2K
                                    </h5>
                                </div>
                            </a>
                            <div class="seprter"></div>
                            <a href="#">
                                <div class="view-circle">
                                    <h5 class="mb-0">
                                        <i class="fa-solid fa-share"></i>
                                        100
                                    </h5>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{>websiteFooter}} {{{body}}}